/* 
My Color guide

Exquisite yellow: #FFFBF0
Exquisite red:#F9BDB5
Exquisite green: #B1DDD2
brown: #74450e

*/

.navbar-logo {
  width: 50%;
}

.navbar {
  background-color: #b1ddd2 !important;
}

.navbar-btn {
  background-color: #fffbf0 !important;
  color: #000;
  width: 100px;
  border-radius: 50px !important;
}

.cart-icon {
  width: 20px;
}

.cake1{
  max-height:100vh ;
}

.cake2{
  max-height:100vh ;
}

.cake3{
  max-height:100vh ;
}
.carousel-caption{
  position: absolute !important;
  top: 35% !important;
}

@font-face {
  font-family: theseasonsdup;
  src: url(CantataOne-Regular.ttf);
}

.headerfont {
  font-family: theseasonsdup;
  color: #74450e !important;
  font-weight: 900 !important;
  font-size: 3.5em !important;
  margin-bottom: 20px !important ;
  text-shadow: 1px 1px rgb(195, 183, 183);
  background-color: rgba(202, 124, 124, 0.4);
}

.contentfont {
  font-family: theseasonsdup;
  color: #74450e !important;
  font-weight: 600 !important;
  font-size: 1.5em !important;
  text-shadow: 1px 1px rgb(195, 183, 183);
  background-color: rgba(202, 124, 124, 0.4);
}

.headerfontlight{
  font-family: theseasonsdup;
  color: beige !important;
  font-weight: 900 !important;
  font-size: 4em !important;
  margin-bottom: 20px !important ;
  text-shadow: 1px 1px grey;
  background-color: rgba(71, 41, 41, 0.4);
}

.contentfontlight {
  font-family: theseasonsdup;
  color: beige !important;
  font-weight: 600 !important;
  font-size: 1.5em !important;
  text-shadow: 1px 1px grey;
  background-color: rgba(71, 41, 41, 0.4);
}

.searchbarrow{
  height: 70px;
  background-color:#F9BDB5;
  padding-left: 2cm;
  border-radius: 50px;
  width: 75%;
  margin-left: 150px !important;
  margin-top: 40px !important;
}

.searchTerm::placeholder { /* Microsoft Edge */
  color: white;
  text-align: center;
}
.searchbarcategories{
  margin-top: 15px;
  background-color: #FBD2CC !important;
  width: 70%;
  border-radius: 25px!important;
  border-style: none !important;
}

.searchTerm{
  background-color: #FBD2CC;
  border-radius: 25px;
  border-style: none;
  width: 100%;
  margin-top: 15px;
  height: 55%;}

  body{
    background-color: #b1ddd2 !important;
  }

  h3{
    font-family: theseasonsdup;
  color: #74450e !important;
  font-weight: 900 !important;
  font-size: 200% !important;
  margin-bottom: 20px !important ;
  margin-left: 50px;
  margin-top: 50px !important
  }

.product1{
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.product2{
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 2.5em;
}



.c0{
  
 

  width: 100% !important;
  height: 100% !important;
}

.c1{

width: 100% !important;
height: 100% !important;}

.c2{
 
  width: 100% !important;
  height: 100% !important;
}

.c3{
 

  width: 100% !important;
  height: 100% !important;
}

.c4{
 

  width: 100% !important;
  height: 100% !important;
  
}

.c5{
 

  width: 100% !important;
  height: 100% !important;
  
}

.card-body{
  background-color: #fffbf0 !important;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}
.addcart{
  background-color: white !important;
  border-radius: 50px !important;
  border-color: #74450e !important;
  border-width: 4px !important;
  width: 90px;
  color: #74450e !important;
  font-weight: 900 !important;
  position:relative;
  left: 70% !important;

}


h6{
  font-weight: 900 !important;
  font-size: larger !important;
}

.cartfinal{

  background-color: #F9BDB5 !important;
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;
  border-color: #74450e !important;
  border-bottom: none !important;
  border-style: solid;
  width: 100% !important;
  height: 40px !important; 
  margin: 0% !important;
  position: fixed;
  bottom: 0;

}
ul{
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2.5em;}
h7{
  text-align: center !important;
  margin-top: 6px !important;
  font-weight: 900 !important;
  font-size: larger !important;
}

.footer-logo{
  width: 3cm;
  margin-top: 45px ;
  margin-left: 40px;
  margin-bottom: 90px;
  margin-right: 10px;

}

.footerlogocol{
  width: 1em;
}

.footer{
  background-color:#EBD1C9 !important;

}

.fo2{
  margin: left 60px !important;
  font-size: small;
  margin-top: 40px !important;
}

.fo3{
  font-size: small;
  margin-top: 30px !important;
}

.fo4{
  font-size: small;
  margin-top: 40px !important;
}

.fo5{
  font-size: small;
  margin-top: 20px !important;
}

.cart{
  background-color: white !important;
}

h9{
  font-weight: 500;
  font-size: larger;
  margin-left: 25px;
}

h10{
  margin-left: 25px;
  margin-top: 50px !important;
}

h11{
  margin-left: 25px;
  margin-bottom: 15px;
}

h12{
  margin-left: 25px;
}

h13{
 margin-left:  30px;
}

.cartremove{
  margin-right: 10px;
  width:3% !important;
  margin-bottom: 3px !important;
}

.cartadd{
  margin-right: 10px;
  width:3% !important;
  margin-bottom: 3px !important;
  margin-left: 10px !important;
}

h15{
  font-weight: 600 !important;
margin-left: 170px !important;
margin-bottom: 100px !important;}

h16{
  margin-left: 25px;
}

h17{
  margin-left: 280px !important;
  font-weight: 700 !important;
  font-size: medium !important;
}

h18{
  margin-left: 25px !important;
  font-weight: 700 !important;
  font-size: medium !important;
}

.cart-btn-shop {
  background-color: #fffbf0 !important;
  color: #6BB8A5 !important;
  width: 100px;
  border-radius: 50px !important;
  width: 100%;
  border-color:#6BB8A5 !important;
}

.cart-btn-pay {
  background-color: #6BB8A5!important;
  color: white !important;
  width: 100px;
  border-radius: 50px !important;
  width: 100%;
}