/* 
My Color guide

Exquisite yellow: #FFFBF0
Exquisite red:#F9BDB5
Exquisite green: #B1DDD2


*/

.navbar-logo {
  width: 50%;
}

.navbar {
  background-color: #b1ddd2 !important;
}

.navbar-btn {
  background-color: #fffbf0 !important;
  color: #000;
  width: 100px;
  border-radius: 50px !important;
}

.cart-icon {
  width: 20px;
}

.carousel-item,.d-block {
  width:min-content;
  height: 600px;
}

.carousel-head{
  text-align: left;
  font-size: 500%;
  margin-left:0;
  text-shadow: 0,0,4px, #000;
}

.carousel-subtitle{
  text-align: left;
  font-size: 200%;
  padding-bottom: 40%;
  text-shadow: 0,0,4px, #000;
}

.container{
  width:100%
}